body {
margin: 0px;
background: black url(../img/fon-garant.jpg) center / cover no-repeat fixed;
}


/*header*/

.header {
height: 150px;
z-index: 1;
}

.header-name {
font-size: 40px;
font-family: 'Open Sans', sans-serif;
margin-top: 40px;
margin-left: 170px;
position: absolute;
opacity: .8;
font-style:italic;
}

.header-link {
text-decoration: none;
color:white;
}

.color-text {
color:#FF7149;
}

/*left-sidebar*/

.left-sidebar {
z-index: 1;
float: left;
width: 15%;
height: 700px;
}

.nav-pane {
line-height: 50px;
display:grid;
margin-top:10px;
margin-left: 35px;
position: absolute;
}

.nav-btn {
transition:color .1s linear;
font-size: 30px;
color:white;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
}

.nav-btn:hover {
color:#FF7149;
}

/*main*/

.main {
position: absolute;
display: inline-block;
width: 85%;
margin: 0 auto;
height: 700px;
color:white;
}

.main-text {
font-size: 60px;
line-height: 1.6;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin-left: 370px;
}

.main-panes{
position: absolute;
}

.pane {
float: left;
height: 200px;
width: 460px;
margin-left: 20px;
margin-top:50px;
}

.pane-icon {
color: #FF7149;
font-size: 60px;
margin-left: 180px;
display: inline-block;
width: 64px;
height: 64px;
border-radius: 50%;
margin-left: 205px;
margin-bottom:20px;
}


.pane-header {
font-size: 40px;
text-align: center;
font-family: 'Exo 2', sans-serif;
font-weight: 700;
color: #b2b0b4;
margin-bottom: 10px;
margin-top: 10px;
}

.pane-text{
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1.6;
font-weight: 600;
}

/*footer*/
.footer {
z-index: 1;
width: 100%;
height:70px;
line-height:17px;
color: white;
position: absolute;
bottom: 0px;
background-color: white;
}

.footer-autor {
padding-top: 8px;
padding-left:8px;
height: 10%;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin: 0;
font-size:15px;
color:#36274c;
}

.mail-icon {
height: 15px;
margin-left:8px;
}

.phone-icon {
margin-left:8px;
height: 17px;
margin-right: 2px;
}

.btn-info {
font-size: 15px;
margin: 0px;
text-decoration: none;
color:#36274c;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
}

/*dec*/

.dec-block {
z-index: 0;
background-color: #36274c;
height: 100%;
width: 100%;
position: absolute;
opacity: .0;
}
