body {
margin: 0px;
background: black url(../img/fon-garant.jpg) center / cover no-repeat fixed;
}

/*header*/

.header {
height: 150px;
z-index: 1;
}

.header-name {
font-size: 40px;
font-family: 'Open Sans', sans-serif;
margin-top: 40px;
margin-left: 170px;
position: absolute;
opacity: .8;
font-style:italic;
}

.header-link {
text-decoration: none;
color:white;
}

.color-text {
color:#FF7149;
}


/*left-sidebar*/

.left-sidebar {
z-index: 1;
float: left;
width: 15%;
height: 2000px;
}

.nav-pane {
line-height: 50px;
display:grid;
margin-top:10px;
margin-left: 35px;
position: absolute;
}

.nav-btn {
transition:color .1s linear;
font-size: 30px;
color:white;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
}

.nav-btn:hover {
color:#FF7149;
}

/*main*/

.main {
display: inline-block;
width: 85%;
margin: 0 auto;
height: 2600px;
color:white;
}

.main-text {
font-size: 60px;
line-height: 1.6;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin-left: 430px;
}

.player-block {
margin: 60px auto;
height:417px;
width:70%;
border: 2px solid black;
transition:box-shadow .2s linear;
}

.player-block:hover {
box-shadow: 0px 0px 15px #FF7149;
}

.player-name {
font-size:35px;
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
text-align: center;
margin-top:20px;
border-bottom: 1px solid rgba(205, 205, 207, .5);
padding-bottom: 16px;
}

.player-info {
line-height: 21px;
font-size: 19px;
color: white;
font-family: 'Open Sans', sans-serif;
margin-left: 10px;
font-weight: 400;
line-height: 24px;
    text-shadow: 0px 0px 19px #FF7149;
}

.player-stats {
border-top: 1px solid rgba(205, 205, 207, .5);
border-bottom: 1px solid rgba(205, 205, 207, .5);
height: 60px;
    font-family: 'Open Sans', sans-serif;
padding-top:10px;
padding-bottom: 10px;
}

.simple-left {
width: 50%;
height:400px;
float:left;
text-align: center;
}

.simple-right {
width: 50%;
height: 100%;
float: right;
background: rgba(255,255,255, .1)
}

.stat {
 float: left;
height:20px;
width: 33%;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 19px;
line-height: 1.6;
}

.device-left {
background: rgba(255,255,255, .1);
width: 50%;
height: 100%;
float: left;
}

.device-right {
width: 50%;
height:400px;
float:right;
text-align: center;
}

.chehich-left {
width: 50%;
height:400px;
float:left;
text-align: center;
}

.chehich-right {
background: rgba(255,255,255, .1);
width: 50%;
height: 100%;
float: right;
}

.chehich-img {
    height: auto;
    width: auto;
    max-height: 532px;
}

.motich-left {
background: rgba(255,255,255, .1);
width: 50%;
height: 100%;
float: right;

}

.motich-right {
width: 50%;
height:400px;
float:left;
text-align: center;
}

.motich-img {
 height: auto;
    width: auto;
    max-height: 429px;
}

.zeus-left {
    width: 50%;
height:400px;
float:right;
text-align: center;
}

.zeus-right {
background: rgba(255,255,255, .1);
width: 50%;
height: 100%;
float: left;
}

.zeus-img {
height: auto;
width: auto;
max-height: 532px;
}

/*footer*/
.footer {
z-index: 1;
width: 100%;
height:70px;
line-height:17px;
color: white;
bottom: 0px;
background-color: white;
}

.footer-autor {
padding-top: 8px;
padding-left:8px;
height: 10%;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin: 0;
font-size:15px;
color:#36274c;
}

.mail-icon {
height: 15px;
margin-left:8px;
}

.phone-icon {
margin-left:8px;
height: 17px;
margin-right: 2px;
}

.btn-info {
font-size: 15px;
margin: 0px;
text-decoration: none;
color:#36274c;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
}

/*dec*/

